.welcome-section {
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #f9fafb, #eef2ff);
  overflow: hidden;
}

.image-column {
  position: relative;
  background: #f8fafc;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

/* .image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  padding: 2rem; */
/* } */

.grid-image {
  width: 100%;
  aspect-ratio: 10 / 5;
  margin-left: 10px;
  object-fit: cover;
  image-rendering: crisp-edges;
  border-radius: 1rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.grid-image:hover {
  transform: scale(1.03);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}

.text-column {
  padding: 4rem 3rem;
  color: #1e293b;
  background: white;
}

.welcome-content {
  max-width: 650px;
  margin: auto;
}

.welcome-title {
  font-size: 2.0rem;
  font-weight: 700;
  color: #1e3a8a;
}

.welcome-subtitle {
  font-size: 1.6rem;
  font-weight: 600;
  height: 0px;
  color: #334155;
}

.welcome-text {
  font-size: 1.05rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  color: #475569;
}

@media (max-width: 992px) {
  .welcome-section {
    height: auto;
    flex-direction: column;
  }

  .text-column {
    padding: 2rem;
    text-align: center;
  }

  .welcome-content {
    max-width: 90%;
  }

  .image-grid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .grid-image {
    height: 200px;
  }
}
@media (max-width: 600px) {
  .image-grid {
    grid-template-columns: 1fr;
  }

  .grid-image {
    height: 180px;
  }
}